<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="7.0.4" targetFramework="net48" />
  <package id="WindowsAPICodePackCore" version="8.0.8" targetFramework="net48" />
  <package id="WindowsAPICodePackShell" version="8.0.8" targetFramework="net48" />
</packages>